html{
    scroll-behavior: smooth;
    text-size-adjust:100%;
    -webkit-text-size-adjust: 100%;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav_bar{
    position: fixed;
    border-bottom: 5px solid rgba(85, 85, 85, 0.486);
    background-color: white;
    width:100%;
    margin-left:0;
    margin-right:0;
}

#menu_button{
    transition:0.5s linear;
    margin-left:0.5%;
    float: left;
    cursor: pointer;
}

#login_button{    
    font-size: 36px;
    margin-right:1%;
    float:right;
    cursor: pointer;
    
}

#login_button a{
    text-decoration: none;
    color:black;
}

.menu_line{
    width:36px;
    height:2px;
    background-color: black;
    margin:12px 0;
}

#menu_frame{
    width:30%;
    height:100%;
    overflow:scroll;
    background-color:white;
    transition:0.75s linear; /* Optimize this part */
    margin-left:-30%;
    z-index:1;
    position:fixed;
    box-shadow: 2.5px 2.5px rgba(211, 211, 211, 0.486);
}

/* 1125px */
@media only screen and (max-width: 1125px){
    #menu_frame{
        width:100%;
        margin-left:-100%;
        overflow:auto;
    }

    .sidebar_option{
        width:40%;
        margin-left:auto;
        margin-right:auto;
    }
}

.sidebar_option{
    padding:1rem 1rem;
    font-size: 20px;
}

.sidebar_option:hover{
    background-color: lightgrey;
    cursor: pointer;
}

#extra_options{
    height:0;
    transition:height 0.25s;
    color:white;
}

.extra_option{
    transition:color 0.25s;
}

#more_options{
    text-align: center;
    color:grey;
    font-size: 12px;
    cursor: pointer;
}

#more_options:hover{
    color:black;
    background-color: lightgrey;
    text-decoration:underline;
}

#testing_1{
    margin:0;
    height:50rem;
    border-bottom: 5px solid rgba(85, 85, 85, 0.486);
}

#testing_1 h1{
    text-align: center;
    margin:0;
    padding:4rem 3.5rem;
}

#testing_2{
    margin:0;
    height:50rem;
    border-bottom: 5px solid rgba(85, 85, 85, 0.486);
}

#testing_2 h1{
    text-align: center;
    margin:0;
    padding:2.5rem 3.5rem;
}

#login{
    height:10rem;
}

#login h1{
    margin:0;
    padding-top:1rem;
    padding-left:3.5rem;
}

@media only screen and (max-width: 1125px){
    #login h1{
        padding-left:0;
        text-align: center;
    }
}